<footer class="footer">
    <div class="container">
        <div class="footer__cols">
            <div class="footer__col">
                <h4 class="footer__title">Поддержка</h4>
                <p class="footer__text">Санкт-Петербург, СПБГУПТД, Большая Морская ул., 18, 191186</p>
                <p class="footer__text">skinhead@gmail.com</p>
                <p class="footer__text">+12 345 67890</p>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Аккаунт</h4>
                <a href="#" class="footer__link">Аккаунт</a>
                <a href="#" class="footer__link">Вход / Регистрация</a>
                <a href="#" class="footer__link">Корзина</a>
                <a href="#" class="footer__link">Избранное</a>
                <a href="#" class="footer__link">Магазин</a>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Ссылки</h4>
                <a href="#" class="footer__link">Политика конфиденциальности</a>
                <a href="#" class="footer__link">FAQ</a>
                <a href="#" class="footer__link">Контакты</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">© 2026 SKINHEAD. Учебный проект, не интернет-магазин.</div>
            <div class="social">
                <i class="fab fa-telegram-plane social__icon"></i>
                <i class="fab fa-vk social__icon"></i>
                <i class="fab fa-instagram social__icon"></i>
            </div>
        </div>
    </div>
</footer>