<footer class="footer">
    <div class="container">
        <div class="footer__columns">
            <div class="footer__col">
                <h4 class="footer__col-title">Support</h4>
                <p class="footer__col-text">Your Place, Your Street, Your City</p>
                <p class="footer__col-text">youremail@gmail.com</p>
                <p class="footer__col-text">+12 345 67890</p>
            </div>
            <div class="footer__col">
                <h4 class="footer__col-title">Account</h4>
                <a href="#" class="footer__col-link">My Account</a>
                <a href="#" class="footer__col-link">Login / Register</a>
                <a href="#" class="footer__col-link">Cart</a>
                <a href="#" class="footer__col-link">Wishlist</a>
                <a href="#" class="footer__col-link">Shop</a>
            </div>
            <div class="footer__col">
                <h4 class="footer__col-title">Quick Link</h4>
                <a href="#" class="footer__col-link">Privacy Policy</a>
                <a href="#" class="footer__col-link">FAQ</a>
                <a href="#" class="footer__col-link">Contact</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">© 2026 SKINHEAD. Учебный проект, не интернет-магазин. Авторы: Анастасия А.А., София Е.А., Элина К.М., Милена З.А.</div>
            <div class="social">
                <i class="fab fa-telegram-plane social__icon"></i>
                <i class="fab fa-vk social__icon"></i>
                <i class="fab fa-instagram social__icon"></i>
            </div>
        </div>
    </div>
</footer>