<header class="header">
    <div class="container header__inner">
        <a href="/" class="logo" id="logoLink">SKINHEAD</a>
        <div class="search">
            <input type="text" placeholder="Поиск" class="search__input" id="globalSearchInput">
            <i class="fas fa-search search__icon" id="searchButton"></i>
        </div>
        <nav class="nav"></nav>
        <div class="actions">
            <i class="fas fa-shopping-bag actions__icon" id="cartIcon"></i>
            <i class="far fa-user actions__icon" id="profileIcon"></i>
        </div>
    </div>
</header>