<div class="reviews">
    <div class="container">
        <h3 class="reviews__header">Отзывы наших клиентов</h3>
        <div class="reviews__carousel">
            <div class="reviews__track" id="reviewsTrack"></div>
            <div class="reviews__controls">
                <div class="reviews__arrow" id="revPrev"><i class="fas fa-chevron-left"></i></div>
                <div class="reviews__progress"><div class="reviews__progress-fill" id="progressFill"></div></div>
                <div class="reviews__arrow" id="revNext"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</div>